body {
  font-family: "Avenir Next", "ヒラギノ角ゴ ProN W3";
}

li {
  /*list-style: none;*/
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

a:hover{
  color: #ff6347;
  text-decoration: none;
}

table{
  width: 100%;
  border-spacing: 0;
}

table th{
  border-bottom: solid 2px #ff6347;
  text-align: left;
  padding: 10px 0;
}

table td{
  text-align: left;
  padding: 20px 0;
}

.header {
  background-color: #006888;
  color: #fff;
  display: flex;
  height: auto;
  width: 100%;
  top: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
  position: fixed;
}

.header-logo {
  float: left;
  font-size: 50px;
  padding: 20px 10px 20px 40px;
}

.header-logo span {
  color: #ff6347;
}

.header-logo a{
  color: #fff;
}

.header-logo a:hover{
  color: #ff6347;
  text-decoration: none;
}

.header-logo-jp {
  float: left;
  font-size: 40px;
  padding: 20px 10px 20px 40px;
}

.header-logo-jp span {
  font-size: 50px;
  color: #ff6347;
}

.header-logo-jp a{
  color: #fff;
}

.header-logo-jp a:hover{
  color: #ff6347;
  text-decoration: none;
}

.header-list li {
  list-style: none;
  float: left;
  font-size: 22px;
  padding: 33px;
}

.header-list a{
  color: #fff;
}

.header-list a:hover{
  color: #ff6347;
  text-decoration: none;
}

.main {
  padding: 100px 80px;
}

.explain {
  text-indent: 1em;
}

.copy-container h1 {
  /*color: #fff;*/
  font-size: 90px;
  margin-top: 90px;
  line-height: 110%;
  letter-spacing: 1px;
  /*background-image: url("image/tokyo.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;*/
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #ff6347;
}

.contents {
  height: 2500px;
  margin-top: 100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-top: 80px;
  margin-bottom: 20px;
  color: #ff6347;
}

.sub-section {
  font-size: 24px;
}

.th-period {
  width: 30%;
}

.th-affiliation {
  width: 35%;
}

.th-degree {
  width: 35%;
}

.footer {
  /*background-color: #44617b;*/
  background-color: #fff;
  color: #ff6347;
  height: 140px;
  width: 100%;
}

.footer-credit {
  padding-top: 50px;
  text-align: center;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* 推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;

  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;

  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;

  /* IEサポート */
  font-feature-settings: 'liga';
}
